<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="archive">
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

	<title>Understanding memes</title>

	<!-- SCROLLS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css"><!-- load bulma -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous"> <!-- font awesome -->
	<style>
		html 					{ overflow-y:scroll; }
		body 					{ padding-top:50px; }
		#meme-list 				{ margin-bottom:30px; }
		#meme-form 	 			{ margin-bottom:50px; }
	</style>

	<script src="main.js"></script>
</head>

<!-- SET THE CONTROLLER -->
<body ng-controller="mainController">
	<div class="container is-three-quarters">

		<!-- HEADER AND MEME COUNT -->
		<nav class="navbar" role="navigation" aria-label="main navigation">
  			<div class="navbar-brand">
				<h1 class="title">I understand <span class="icon has-text-info"><%= memes.length %></span> memes</h1>
			</div>

			 <div class="navbar-end">
				<div class="navbar-item">
					<a class="button is-large is-primary" onclick="toggle_modal()">
						<span class="icon">
							<i class="fas fa-plus-circle"></i>
						</span>
						<span>Add meme</span>
					</a>
				</div>
			</div>
		</nav>

		<!-- MEME LIST -->
		<div id="meme-list" class="row">
			<div class="col-sm-4 col-sm-offset-4">

				<% for(var i=0; i< memes.length; i++) {%>
				<div class="card">
					<div class="card-image">
						<figure class="image is-square">
							<img src="https://bulma.io/images/placeholders/256x256.png" alt="Placeholder image">
						</figure>
					</div>
					<div class="card-content">
						<p class="title is-4"><%= memes[i].origin %></p>

						<div class="content">
							<%= memes[i].analysis %>
							<p class="title is-6"><b>Tags:</b> <%= memes[i].tags %> </p>							
							<time><%= memes[i].date %></time>
						</div>
					</div>
				</div>
				<% } %>

			</div>
		</div>

		<!-- CREATION MODAL -->
		<div class="modal" id="creation-modal">
			<div class="modal-background"></div>
				<div class="modal-content">
					<!-- CREATION BOX -->
					<div class="box">
						<form action="/memes" method="POST">
							<article class="media columns">

								<div class="column media-left field is-grouped is-grouped-multiline is-grouped-centered">

									<div class="control file is-boxed is-primary">
										<label class="file-label">
											<input class="file-input" type="file" name="image">
											<span class="file-cta">
												<span class="file-icon">
													<span class="fas fa-cloud-upload-alt fa-2x"></span>
												</span>
												<span class="file-label">
													Choose a file…
												</span>
											</span>
										</label>
									</div>

									<br>

									<div class="control">
										<button type="submit" class="button is-large is-primary">Add</button>
									</div>
								</div>

								<div class="column media-content">
									<div class="content">

										<!-- actual form input -->
										<div class="field is-grouped is-grouped-multiline ">
											<div class="control is-expanded">
												<input type="text" class="input is-info" placeholder="Origin (author, site, etc.)">
											</div>
											
											<div class="control is-expanded">
												<input type="date" id="date_input" class="input is-info">
											</div>

											<div class="control is-expanded">
												<input placeholder="Tags (text post, panel, analysis, loss, twitter, political)" class="input is-info">
											</div>

											<div class="control is-expanded">	
												<input type="text" class="input is-info" placeholder="Analysis and Commentary">
											</div>

										</div>
									</div>
								</div>
							</article>
						</form>
					</div>
				</div>
			<button class="modal-close is-large" aria-label="close" onclick="toggle_modal()"></button>
		</div>
	</div>
</body>
</html>